/* import antd */
@import '~antd/dist/antd.css';

/* rem */
html {
  font-size: 100px;  /* 750: 1rem = 100px */
}

#root {
  margin: 0 auto;
  max-width: 750px;
}

/* nav-top */
.headerNavBox {
  @BG: #2A2A2A;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 1.12rem;
  background-color: @BG;
  color: #fff;

  .homeBox {
    height: 100%;

    .baseBox {
      height: 100%;

      .logo {
        position: absolute;
        left: .16rem;
        top: 50%;
        margin-top: -.31rem;
        width: 2.1rem;
        height: .62rem;
        font-size: 0;
        background: url('../images/logo.png') no-repeat;
        background-size: 100%;
      }
      .icon {
        position: absolute;
        top: 50%;
        right: .16rem;
        margin-top: -.31rem;
      }
    }

    .filterBox {
      padding: 0 .56rem;
      background: @BG;

      li {
        line-height: 1rem;
        text-align: center;
        color: #fff;
        font-size: .32rem;
        border-top: .02rem solid lighten(@BG, 20%);
      }
    }
  }
}

/* nav-footer */
.footerNavBox {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.06rem;
  line-height: 1.06rem;
  border-top: .02rem solid #d5d5d5;
  background: #fff;

  .footer-group {
    display: flex;
    justify-content: space-around;

    .footer-group-item {
      a {
        color: #2A2A2A;

        &.active {
          color: red;
        }
      }

      i {
        display: block;
        height: .5rem;
        font-size: .44rem;
      }
      span {
        display: block;
        height: .5rem;
        line-height: .5rem;
        font-size: .32rem;
      }
    }
  }
}

/* container */
.container {
  padding: 1.12rem 0 1.08rem 0;
}

/* user-register */
.register-form {
  padding: .3rem .5rem
}

/* 课程列表 */
.courseList {
  margin-top: .2rem;

  h2 {
    line-height: .7rem;
    font-size: .38rem;

    i {
      margin-right: .1rem;
    }
  }

  ul {
    
    li {
      box-sizing: border-box;
      margin-bottom: .2rem;
      padding: .1rem;
      border: .02rem solid #ddd;

      a {
        display: block;
        color: #000;

        h3 {
          line-height: .6rem;
          font-size: .34rem;
        }

        .content {
          display: flex;

          .list-img {
            width: 2rem;
            height: 1.4rem;
            background: #eee;

            img {
              width: 100%;
              height: 100%;
            }
          }

          .desc {
            flex: 1;
            font-size: .32rem;
            padding-left: .2rem;
            overflow: hidden;

            p:first-child {
              color: #666;
              height: .8rem;
              line-height: .4rem;
              overflow: hidden;
            }

            p:last-child {
              color: #999;
            }
          }
        }
      }
    }
  }
}

